name: CI

on:
    push:
    pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v6
      with:
        node-version-file: 'package.json'

    - name: Install packages
      run: npm ci

    - name: Copy config file
      run: cp ./config/config.js.sample ./config/config.js

    - name: Lint
      run: npm run lint
  test:
    # creare mariadb service
    runs-on: ubuntu-latest
    needs: lint

    services:
      mariadb-test:
        image: mariadb:10.11.2
        ports:
          - '3306:3306'
        env:
          MARIADB_USER: tabroom
          MARIADB_PASSWORD: tabroom
          MARIADB_DATABASE: tabroom
          MARIADB_ROOT_PASSWORD: tabroom
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=3

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v6
      with:
        node-version-file: 'package.json'

    - name: Load local database
      run: mysql -h 127.0.0.1 -P 3306 -u root -ptabroom tabroom < ./tests/test.sql

    - name: Install packages
      run: npm ci

    - name: Copy config file
      run: cp ./config/config.js.sample ./config/config.js

    - name: Tests
      run: npm run test-ci

